<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1.0"
    />
    <title>絶景九州</title>

    <!-- CSS  -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="../public/css/materialize.css"
      type="text/css"
      rel="stylesheet"
      media="screen,projection"
    />
    <link
      href="../public/css/style.css"
      type="text/css"
      rel="stylesheet"
      media="screen,projection"
    />
  </head>
  <body>
    <input type="hidden" id="mapId" value="<%= mapId %>">
    <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">
            <img src="../public/img/logo/logo.jpg" height="80" />
        </a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"
          ><i class="material-icons">menu</i></a
        >
        <ul class="right hide-on-med-and-down">
          <!-- <li><a href="sass.html">Sass</a></li>
          <li><a href="badges.html">Components</a></li>
          <li><a href="collapsible.html">Javascript</a></li>
          <li><a href="mobile.html">Mobile</a></li> -->
          <li>
            <a
              href="#"
              data-target="slide-out"
              class="sidenav-trigger"
              style="display: block"
            >
              <i class="material-icons">menu</i>
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
      <li><a href="./index.html"> ホーム </a></li>
      <li onclick="menuClick('about')">
        <a href="#about"> 絶景九州について </a>
      </li>
      <li onclick="menuClick('post')"><a href="#!"> 写真を投稿する </a></li>
      <li onclick="menuClick('watch')"><a href="#!"> 写真を見る </a></li>
      <li onclick="menuClick('commercial')">
        <a href="#!"> 商業利用について </a>
      </li>
    </ul>

    <ul id="slide-out" class="sidenav">
      <li>
        <div class="user-view">
          <!-- <div class="background">
            <img src="img/logo/logo.png" />
          </div> -->
          <a href="#user"><img class="circle" src="img/logo/logo.png" /></a>
        </div>
      </li>
      <li><a href="./index.html"> ホーム </a></li>
      <li onclick="menuClick('about')">
        <a href="#about"> 絶景九州について </a>
      </li>
      <li onclick="menuClick('post')"><a href="#!"> 写真を投稿する </a></li>
      <li onclick="menuClick('watch')"><a href="#!"> 写真を見る </a></li>
      <li onclick="menuClick('commercial')">
        <a href="#!"> 商業利用について </a>
      </li>
      <li>
        <a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a>
      </li>
      <li><a href="#!">Second Link</a></li>
      <li><div class="divider"></div></li>
      <li><a class="subheader">Subheader</a></li>
      <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
    </ul>

    <div class="section no-pad-bot" id="index-banner">
      <div class="container">
        <div class="section">
          <div class="row" style="height: 80vh; background-color: gainsboro;">
        <div class="circle-box">
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
        </div>
            <div id="map" class="center">
              WebGL地図を表示する
            </div>
          </div>
        </div>
    </div>

    <div class="container">
      <div class="section">
        <!--   Icon Section   -->
        <div class="row">
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center light-blue-text">
                <i class="material-icons">flash_on</i>
              </h2>
              <h5 class="center">Speeds up development</h5>

              <p class="light">
                We did most of the heavy lifting for you to provide a default
                stylings that incorporate our custom components. Additionally,
                we refined animations and transitions to provide a smoother
                experience for developers.
              </p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center light-blue-text">
                <i class="material-icons">group</i>
              </h2>
              <h5 class="center">User Experience Focused</h5>

              <p class="light">
                By utilizing elements and principles of Material Design, we were
                able to create a framework that incorporates components and
                animations that provide more feedback to users. Additionally, a
                single underlying responsive system across all platforms allow
                for a more unified user experience.
              </p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center light-blue-text">
                <i class="material-icons">settings</i>
              </h2>
              <h5 class="center">Easy to work with</h5>

              <p class="light">
                We have provided detailed documentation as well as specific code
                examples to help new users get started. We are also always open
                to feedback and can answer any questions a user may have about
                Materialize.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div id="facebook" class="section">
        <div class="container">
          <div class="row center">
            <iframe
              src="https://www.facebook.com/groups/zekkei.kyushu.group/"
              width="100%"
              height="400"
            ></iframe>
          </div>
        </div>
      </div>

      <div id="about" class="section">
        <div class="container">
          <br /><br />
          <div class="row center">
            <h5 class="header col s12 light">絶景九州について</h5>
          </div>
          <br /><br />
          <br /><br />
          <br /><br />
          <br /><br />
          <br /><br />
          <br /><br />
          <br /><br />
          <div class="row center">
            <a
              href="http://materializecss.com/getting-started.html"
              id="download-button"
              class="btn-large waves-effect waves-light orange"
              >Get Started</a
            >
          </div>
          <br /><br />
        </div>
      </div>

      <div id="post" class="section">
        <div class="container">
          <br /><br />
          <div class="row center">
            <h5 class="header col s12 light">写真を投稿する</h5>
          </div>
          <br /><br />
          <br /><br />
          <br /><br />
          <br /><br />
          <br /><br />
          <br /><br />
          <br /><br />
          <div class="row center">
            <a
              href="http://materializecss.com/getting-started.html"
              id="download-button"
              class="btn-large waves-effect waves-light orange"
              >Get Started</a
            >
          </div>
          <br /><br />
        </div>
      </div>

      <div id="watch" class="section">
        <div class="container">
          <br /><br />
          <div class="row center">
            <h5 class="header col s12 light">写真を見る</h5>
          </div>
          <br /><br />
          <br /><br />
          <br /><br />
          <br /><br />
          <br /><br />
          <br /><br />
          <br /><br />
          <div class="row center">
            <a
              href="http://materializecss.com/getting-started.html"
              id="download-button"
              class="btn-large waves-effect waves-light orange"
              >Get Started</a
            >
          </div>
          <br /><br />
        </div>
      </div>

      <div id="commercial" class="section">
        <div class="container">
          <br /><br />
          <div class="row center">
            <h5 class="header col s12 light">商業利用について</h5>
          </div>
          <br /><br />
          <br /><br />
          <br /><br />
          <br /><br />
          <br /><br />
          <br /><br />
          <br /><br />
          <div class="row center">
            <a
              href="http://materializecss.com/getting-started.html"
              id="download-button"
              class="btn-large waves-effect waves-light orange"
              >Get Started</a
            >
          </div>
          <br /><br />
        </div>
      </div>

      <br /><br />
    </div>

    <footer class="page-footer orange">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">絶景九州</h5>
            <p class="grey-text text-lighten-4">
              We are a team of college students working on this project like
              it's our full time job. Any amount would help support and continue
              development on this project and is greatly appreciated.
            </p>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Settings</h5>
            <ul>
              <li><a class="white-text" href="#!">Link 1</a></li>
              <li><a class="white-text" href="#!">Link 2</a></li>
              <li><a class="white-text" href="#!">Link 3</a></li>
              <li><a class="white-text" href="#!">Link 4</a></li>
            </ul>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Connect</h5>
            <ul>
              <li><a class="white-text" href="#!">Link 1</a></li>
              <li><a class="white-text" href="#!">Link 2</a></li>
              <li><a class="white-text" href="#!">Link 3</a></li>
              <li><a class="white-text" href="#!">Link 4</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          Made by
          <a class="orange-text text-lighten-3" href="http://materializecss.com"
            >Materialize</a
          >
        </div>
      </div>
    </footer>
    <!--Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="../public/js/materialize/materialize.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= mapKey %>&callback=initMap&v=beta" defer></script>
    <script src="../public/js/gsap/minified/gsap.min.js"></script>
    <script src="../public/js/init.js"></script>
    <script src="../public/js/animation.js"></script>
  </body>
</html>
