<div id="opening-wrapper" class="opening-bg">
  <div class="opening-text-area">
    <h1 class="opening-text">CREATE LOOK ENJOY</h1>
    <p class="opening-text">撮って、見て、楽しむ</p>
    <h1 class="opening-title">
      <span>絶</span>
      <span>景</span>
      <span>九</span>
      <span>州</span>
    </h1>
  </div>
</div>
