<nav id="nav">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo center">
      <h5>絶景九州</h5>
      <!-- <img src="../public/img/logo/logo.jpg" height="64" /> -->
    </a>
    <a href="#" data-target="slideOutMobile" class="right sidenav-trigger">
      <i class="material-icons">menu</i>
    </a>
    <ul class="right hide-on-med-and-down">
      <!-- <li><a href="sass.html">Sass</a></li>
          <li><a href="badges.html">Components</a></li>
          <li><a href="collapsible.html">Javascript</a></li>
          <li><a href="mobile.html">Mobile</a></li> -->
      <li>
        <a
          href="#"
          data-target="slide-out"
          class="sidenav-trigger"
          style="display: block"
        >
          <i class="material-icons">menu</i>
        </a>
      </li>
    </ul>
  </div>
</nav>
