/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

#map {
  height: 100%;
}

.circle-box {
  height: 300px;
  width: 100%;
  background: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  background: lightcoral;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin: 10px;
}